h1 {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 1.5rem;

background-color: darkkhaki;
}
h2 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 3rem;
font-weight: bold;
}
label {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1rem;
font-weight: bold;
margin-top: 10px;
}

.botonCalcular {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: black solid 2px;
    padding: 5px;
    margin-top: 20px;
    width: 20%;
}

.botonCalcular:hover {
    background-color: aquamarine;
}

.calculadora {
    display: flex;
    flex-flow: column;
}

#opcionMesa {
    width: 30%;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#opcionBlend {
    width: 30%;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#resultado {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    margin-top: 20px;
}
#enCuotas {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin-top: 20px;
}
#ganadorSorteo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    margin-top: 20px;
    background-color: green;
}
#cuotas {
    width: 30%;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}